@model Skylakias.Models.ApplicationUser
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MembershipType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipType.Name)
        </dd>

        

    </dl>
</div>

