@{ ViewBag.Title = "Home Page"; }

<img src="~/Content/images/banner1.jpg" class="img-rounded img-responsive">

<section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5 py-3">
        <div class="bottom-ab-grids align-items-center">
            <div class="bottom-ab-left">
                <h6 class="sub-title">About Us</h6>
                <h3 class="hny-title">We love your pets like they are our own</h3>
                <p class="my-3">
                    At PetCare, we strive hard and work conscientiously to make certain that the pets and their owners have everything they need, on a single platform.
                    It’s our mission to provide the best quality health and wellness services for pets. That’s why we have designed each and every service to help thousands of pets and their owners throughout the world.
                    It’s undeniable: Pets truly make the world a better place. That’s why we’re inspired to make A Better World For Pets™, a world where they’re healthy, happy and welcome.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-sm-6 grids-feature">
                <div class="area-box">
                    <div class="icon">
                        <span class="fa fa-snowflake-o"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Dog Walking</a></h4>
                    <p>
                        When nature calls, our dog walkers are here to answer
                        You can't always predict a crazy day at work, but you can anticipate your dog's needs. Choose from a 30, 45, or 60-minute visit to give your pet their daily dose of fun-filled exercise.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grids-feature mt-sm-0">
                <div class="area-box mb-lg-0">
                    <div class="icon">
                        <span class="fa fa-cutlery"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Pet Nutrition</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed doloramet laoreet. Lorem ipsum dolor sit amet Ut blandit eu leo.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grids-feature mt-lg-0">
                <div class="area-box mb-lg-0">
                    <div class="icon">
                        <span class="fa fa-sign-language"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Pet Sitting</a></h4>
                    <p>
                        Book 5-star care that comes to you
                        Heading out of town? It's easy to book a 5-star sitter to take care of your dog and your home. House sitting is great for:
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grids-feature">
                <div class="area-box">
                    <div class="icon">
                        <span class="fa fa-sitemap"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Dog Activities</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed doloramet laoreet. Lorem ipsum dolor sit amet Ut blandit eu leo.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grids-feature mt-sm-0">
                <div class="area-box mb-lg-0">
                    <div class="icon">
                        <span class="fa fa-shower"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Pet Grooming</a></h4>
                    <p>
                        Help your pet look and feel their best with our professional, onsite pet grooming services.

                        Our grooming specialists are trained and experienced in bathing, trimming, and styling most breed types.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grids-feature mt-lg-0">
                <div class="area-box">
                    <div class="icon">
                        <span class="fa fa-user-md"></span>
                    </div>
                    <h4><a href="#feature" class="title-head">Pet Daycare</a></h4>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-services1">
    <div id="content-with-photo4-block" class="py-5">
        <div class="container py-md-5 py-3">
            <div class="cwp4-two row">
                <div class="cwp4-image col-lg-6 pl-lg-5 mb-lg-0 mb-5">
                    <img src="~/Content/images/ab.jpg" class="img-curve img-fluid" alt="" />
                </div>
                <div class="cwp4-text col-lg-6">
                    <h6 class="sub-title">Why Choose Us</h6>
                    <h3 class="hny-title">What We Offer for You</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud.Lorem ipsum dolor sit amet, consectetur adipisicingelit,
                    </p>

                    <ul class="cont-4">
                        <li><span class="fa fa-check"></span>Certified Groomer</li>
                        <li><span class="fa fa-check"></span>10 Years of Experience</li>
                        <li><span class="fa fa-check"></span>Pet Lover</li>
                        <li><span class="fa fa-check"></span>Customer Supports</li>
                        <li><span class="fa fa-check"></span>Veterinary Help</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">730</p>
                <h4>Happy Clients</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">80</p>
                <h4>Professionals</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">812</p>
                <h4>Adopted Pets</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <p class="counter">90</p>
                <h4>Awards</h4>
            </div>
        </div>
    </div>
</section>

<section class="w3l-pricing-7-main py-5" id="pricing">
    <div class="pricing-7-sec pt-lg-4 pt-md-3 pb-lg-5 pb-md-4">
        <div class="container pricing-grid">
            <div class="heading text-center mx-auto">
                <h6 class="sub-title">Our Plans</h6>
                <h3 class="hny-title mb-5">Affordable Packages</h3>
            </div>
            <div class="pricing-sec-7">
                <!-- pricing grid 1 -->
                <div class="pricing-gd-left pric-7-1">
                    <div class="w3l-pricing-7">
                        <div class="w3l-pricing-7-top">
                            <h6 class="one-light">Monthly Package</h6>

                            <h4><label>€</label>30<span>/month</span></h4>
                        </div>
                        <div class="w3l-pricing-7-bottom">
                            <div class="w3l-pricing-7-bottom-bottom">
                                <ul class="links">
                                    <li>
                                        <p class="lists">5 Dog Walk </p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">3 Vet Visit </p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">3 Pet Spa</p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">Free Supports</p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">Customer Support</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //pricing grid 1 -->
                <!-- pricing grid 2 -->
                <div class="pricing-gd-left pric-7 active">
                    <div class="w3l-pricing-7">
                        <div class="w3l-pricing-7-top">
                            <h5>Save 15% </h5>
                            <h6>Standard Package</h6>

                            <h4><label>€</label>90<span> for 3 months</span></h4>
                        </div>
                        <div class="w3l-pricing-7-bottom">
                            <div class="w3l-pricing-7-bottom-bottom">
                                <ul class="links">
                                    <li>
                                        <p class="lists">5 Dog Walk </p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">3 Vet Visit </p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">3 Pet Spa</p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">Free Supports</p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">Customer Support</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //pricing grid 2 -->
                <!-- pricing grid 3 -->
                <div class="pricing-gd-left pric-7-2">
                    <div class="w3l-pricing-7">
                        <div class="w3l-pricing-7-top">
                            <h6 class="one-light">Pro Package</h6>

                            <h4><label>€</label>300<span>/year</span></h4>
                        </div>
                        <div class="w3l-pricing-7-bottom">
                            <div class="w3l-pricing-7-bottom-bottom">
                                <ul class="links">
                                    <li>
                                        <p class="lists">5 Dog Walk </p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">3 Vet Visit </p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">3 Pet Spa</p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">Free Supports</p>
                                    </li>
                                    <li>
                                        <p class="lists line-through">Customer Support</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pricing grid 3 -->
            </div>
        </div>
    </div>
</section>

<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h6 class="sub-title text-center"> Better pet nutrition.</h6>
                    <h3 class="hny-title"> The finest fresh food and all your pet needs.</h3>
                    <p class="mt-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet elit consec tetur adipisi elit.

                        Lorem ipsum dolor sit amet elit consec tetur adipisi elit. Iure voluptatibus explicabo
                        officia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>